.footer {
  background-color: #fcf7ff;
  color: black;
  padding-top: 15em;
  padding-bottom: 5em;
  &__list {
    display: flex;
    font-size: 1.8rem;
    width: 30%;
    justify-content: space-around;
    font-family: 'Almarena', sans-serif;
  }
}
