.header {
  font-size: 1.8rem;
  font-family: 'Almarena', sans-serif;
  padding: 1.5em 5em;
  &__nav {
    display: flex;
    justify-content: space-between;
    &__list {
      display: flex;
      li {
        margin: 0 2em;
        cursor: pointer;
      }
    }
  }
}
