.contact {
  background-color: #fcf7ff;
  color: black;
  padding: 0 10em;
  h2 {
    font-family: 'Almarena', sans-serif;
    font-size: 7.2rem;
    padding: 2em 0;
    margin: 0 5vw;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    &__form {
      display: flex;
      flex-direction: column;
      padding: 0 10rem;
      font-size: 1.8rem;
      width: 50%;
      &__input {
        all: unset;
        background-color: #fcf7ff;
        border: 1px black solid;
        margin: 1em 0;
      }
    }
    &__text {
      width: 50%;
      padding: 0 10em;
      font-size: 1.8rem;
    }
  }
  &__secondary {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    p:first-child {
      padding: 2em 0;
      font-size: 3.2rem;
    }
    &__email {
      font-family: 'Almarena', sans-serif;
      padding: 1.1em 0;
      font-size: 7.2rem;
    }
  }
}
