.skills {
  background-color: rgb(189, 94, 16);
  padding: 5vh 10em;
  color: black;
  h2 {
    font-family: 'Almarena', sans-serif;
    font-size: 7.2rem;
    margin: 1em 0;
    margin-left: 5vw;
  }
}
.skills__card {
  border-top: solid black 1px;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  width: 50vw;
  margin-left: 5vw;
  font-size: 1.4rem;
  cursor: pointer;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__learnmore {
      display: flex;
      align-items: center;
      p {
        transition: ease 1s all;
      }
    }
    h3 {
      font-family: 'Almarena', sans-serif;
      font-size: 8.6rem;
    }
  }
  &__text {
    padding: 0.5em 0;
    font-size: 1.8rem;
  }

  &__hidden {
    // display: none;
    overflow: hidden;
    transition: all ease 1s;
    max-height: 0;
    margin-top: 1em;
    font-size: 2rem;
    font-family: 'Almarena', sans-serif;
    li {
      padding: 0.5em 0;
    }
  }
  &--last {
    border-bottom: solid 1px black;
  }
}

.visible {
  max-height: 20rem;
  transition: all ease 1s;
}

.opacity {
  opacity: 0;
  transition: all ease 1s;
}

.cross__wrapper {
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  --value: 90deg;
  .cross {
    width: 100%;
    position: relative;
    height: 0.2rem;
    background-color: black;
    &::after {
      position: absolute;
      content: '';
      height: 0.2rem;
      width: 100%;
      background-color: black;
      transform: rotate(var(--value));
      transition: 1s ease all;
    }
  }
}

.cross__wrapper.activated {
  --value: 180deg;
}
