@font-face {
  font-family: 'Almarena';
  src: url('../fonts/Almarena-Display-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Jost';
  src: url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
}

html {
  font-family: 'Jost', sans-serif;
}
